@import "compass/utilities/color/contrast";
@import "compass/css3";
@import "compass/support";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transform";

@import 'partials/cores/settings';
@import 'partials/cores/mixins';
@import 'partials/cores/templates';
@import 'partials/cores/functions';

.pz-wrapper-block{
	@extend %fix_float;
	margin-bottom: 30px;
  @include respond-to(small-screens){
    margin-bottom:0;
  }
  @include respond-to(small-screens){
    margin-bottom: 0;
  }
	.pz-product-wrapper{
		@extend %fix_float;
    @include respond-to(small-screens){
      margin-bottom: 15px;
    }
    @include respond-to(medium-screens){
      margin-bottom: 15px;
    }

		//border: solid 1px #c5c5c5;
		box-sizing:border-box;
		//padding:10px;

		.pz-prod-head{
			display:block;
			font-size: 18px;
			font-weight:800;
			box-sizing:border-box;
			line-height: normal;
			text-align: center;
			margin: 0 !important;
			// margin: -9px -10px 0 -9px;
			padding: 10px;
			border: solid 1px #c5c5c5;
			border-bottom:none;
			background: #ececec;
			position:relative;
			.pz-head-title{}
			.pz-cart-icon{
				position:absolute;
				top:3px;
				right:3px;
				font-size:14px;
				display: inline-block;
				padding: 2px;	// 5px 6px 4px 6px;
				color: #000000;
				// color: #004a00;
				// background: #e0e0e0;
				// border: solid #d2d2d2 1px;
			}
		}

		.pz-pix-box{
			box-sizing:border-box;
			position:relative;
			img {
				box-sizing:border-box;
				padding:30px 10px 10px 10px;
				width: 100%;
				height: auto;
				margin: 0 auto;
				display: block;
				border: solid 1px #c5c5c5;
				border-radius:0;
			}
		}
		.pz-qty-count-order-wrapper{
			@extend %fix_float;
			position: relative;
			width: 100%;
			// padding-bottom:6px;
			padding: 2px 0 9px 0;
			border: solid 1px #c5c5c5;
			border-bottom:none;

			.pz-qty-count-box {
				@extend %fix_float;
				top:3px;
				width: 70%;
				// left: 15%;
				margin: 0 auto;
				position: relative;	//absolute;
				padding: 0;
				box-sizing: border-box;
				.pz-qty-wrapper{
					display: block;
					float: left;
					width: 30%;
					height: 20px;
					input.pz-qty{
						width: 100%;
						background: #e8e8e8;
						border: solid 1px #c3c3c3;
						text-align:center;
						color:black;
						outline: none;
						font-size: 10px;
						padding: 5px;
					}
				}
				.pz-count-slot{
					display:block;
					background:gray;
					width: 70%;
					float: left;
					text-align: center;
					background: #dadada;
					border: solid 1px #c3c3c3;
					border-left:none;
					color: #000000; //#737373;
					font-size: 10px;
					padding: 5px;
					font-weight: 700;
				}
			}

			.pz-add-to-cart-icon,
			.pz-delete-from-cart-icon{
				display: inline-block;
				position: absolute;
				cursor: pointer;
				top:6px;
				//border-radius: 3px;
				padding: 5px 6px 4px 6px;
				border: solid #d2d2d2 1px;
			}
			.pz-add-to-cart-icon {
				right: 5px;
				color: #004a00;
				background: #e0e0e0;
			}
			.pz-delete-from-cart-icon{
				left: 5px;
				color: #4a0002;
				background: #e0e0e0;
			}
		}

		.pz-attributes-box{
			@extend %fix_float;
			.pz-attribute{
				@extend %fix_float;
				font-size: 12px;
				background: #cbcbcb;
				line-height: normal;
				min-height:21px;
				padding:0;
				.pz-attribute-name,
				.pz-attribute-value{
					padding: 5px 5px 5px 7px;
					display: block;
					float:left;
					line-height: normal;
					box-sizing: border-box;
					margin:0;
					border-bottom: solid 1px rgba(255, 255, 255, 0.5);
				}
				.pz-attribute-name{
					width:40%;
					background: #a4a4a4;
					color: #315e63;
				}
				.pz-attribute-value{
					width:60%;
					&.pz-strike{
						color:red;
						text-decoration:line-through;
					}
				}
        @include respond-to(medium-screens){
          font-size: 18px;
        }
				@include respond-to(small-screens){
					font-size: 18px;
				}
			}
		}
	}
}
h3.pz-full-desc-heading {
	margin: 0 0 20px 0;
	padding: 10px 0;
	background: #dadada;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 300;
	color: #560000;
	letter-spacing: 0.1em;
	border: solid 1px #cccccc;
}


.pz-desc-block,
.pz-image-block{
	@extend %fix_float;
}


.pz-description-pod{
	@extend %fix_float;
	text-transform: capitalize;
}


.pz-cart-block{
	&.pz-list-header{
		font-weight: 700;
	}
	&.pz-main-menu{
		li{
			margin-right: 5px;
			padding-left:10px;
			padding-right:10px;
		}
	}
	.list-group-item{
		.pz-delete-all-icon,
		.pz-add-to-cart-icon,
		.pz-delete-from-cart-icon{
			display: inline-block;
			position: relative;
			cursor: pointer;
			padding: 5px 6px 4px 6px;
			border: solid #d2d2d2 1px;
			background: #e0e0e0;
		}
		.pz-bottom-line{
			text-decoration: overline;
		}

		.pz-bottom-line,
		.pz-prod-name{
			font-weight: 700;
		}

		.pz-prod-id{
			small{
				color: #c1c1c1;
				&:hover{
					color: gray;
				}
			}
		}

		.pz-qty{
			display:inline-block;
			min-width: 40%;
			text-align: center;
			padding-left: 10px;
		}
		.pz-add-to-cart-icon{
			color: #004a00;
			margin-right:5px;
		}
		.pz-delete-from-cart-icon{
			color: #4a0002;
			margin-left:5px;
		}
		.pz-delete-all-icon{
			color: #bd0000;
			margin-left:5px;
		}
	}
}

.pz-nav-bar.col-md-12 {
	padding-left: 20px;
	padding-right: 20px;
	margin-top:15px;
	a{
		text-decoration: none;
		color: gray;
		transition: all 0.75s;
		&:hover{
			color:black;
		}
	}
}